{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldcontent_flowcontent">content</label><input type="text" id="somefieldcontent_flowcontent" name="content"/></div>
<div class="field"><label for="somefieldcontent_flowtype_it_musical">type_it_musical</label><input type="text" id="somefieldcontent_flowtype_it_musical" name="type_it_musical"/></div>
<div class="field"><label for="somefieldsocialmedia_id">socialmedia_id</label><select id="somefieldsocialmedia_id" name="socialmedia_id"><option value="novalue">no value</option>
{% for somesocialmedia in touslessocialmedia %}
<option value="{{ somesocialmedia['id'] }}">{{ somesocialmedia['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in content_flows %}{{x["content"] }}{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_content_flow"> add one content_flow</a>{% endblock %}